<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a8155a29-a070-46c4-9f04-419f3ca32cb0/resourceGroups/recording-disclosures/providers/Microsoft.Web/sites/recording-disclosures-api</ResourceId>
    <ResourceGroup>recording-disclosures</ResourceGroup>
    <ApiResourceId>/subscriptions/a8155a29-a070-46c4-9f04-419f3ca32cb0/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ApiManagement/service/RecordingDisclosuresAPIapi/apis/RecordingDisclosuresAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://recording-disclosures-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>f43d38f5-773e-4801-b960-1ae0dd5c48a9</ProjectGuid>
    <MSDeployServiceURL>recording-disclosures-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>recording-disclosures-api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$recording-disclosures-api</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>